<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta property="og:image" content="https://www.matthewjury.com/img/profile-img.jpg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="matthew jury, matthew, jury, mathew jury, matthew jury porfolio, matthew jury resume, matthew jury github, full stack developer resume, full stack developer, full stack developer website, blog" />
    <meta name="description" content="Full Stack Developer, Matthew Jury's website. View his personal projects and achievements, along with recommendations from coworkers." />
    <meta name="author" content="Matthew Jury" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
